body {
  margin: 0;
  font-family: 'Roboto, sans-serif';
  background-color: var(--mui-palette-background-default);
  color: var(--mui-palette-text-primary);
}

#root {
  min-height: 100vh;
  padding: 1rem;
  background-color: inherit;
}
